.dashboard-mahasiswa {
  background-color: #ffffff;
  width: 100%;
  min-width: 720px;
  min-height: 1816px;
  position: relative;
}

.dashboard-mahasiswa .event-quotes {
  position: absolute;
  top: 158px;
  left: 33px;
  width: 665px;
  height: 425px;
}

.dashboard-mahasiswa .rectangle {
  position: absolute;
  top: 48px;
  left: 1px;
  width: 655px;
  height: 377px;
  background-color: #fc6b58;
  border-radius: 30px;
}

.dashboard-mahasiswa .mask-group {
  position: absolute;
  top: 48px;
  left: 0;
  width: 655px;
  height: 377px;
}

.dashboard-mahasiswa .text-wrapper {
  position: absolute;
  top: 86px;
  left: 31px;
  width: 264px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .div {
  position: absolute;
  top: 130px;
  left: 32px;
  width: 39px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-2 {
  position: absolute;
  top: 121px;
  left: 75px;
  width: 184px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: normal;
}

.dashboard-mahasiswa .with-incare-together {
  position: absolute;
  top: 175px;
  left: 31px;
  width: 206px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .span {
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
}

.dashboard-mahasiswa .text-wrapper-3 {
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
}

.dashboard-mahasiswa .ellipse {
  position: absolute;
  top: 393px;
  left: 302px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
}

.dashboard-mahasiswa .ellipse-2 {
  position: absolute;
  top: 393px;
  left: 348px;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.dashboard-mahasiswa .ellipse-3 {
  position: absolute;
  top: 393px;
  left: 325px;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.dashboard-mahasiswa .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 238px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .statistic {
  position: absolute;
  top: 616px;
  left: 27px;
  width: 395px;
  height: 369px;
  box-shadow: 0px 0px 3.3px #0000002e;
}

.dashboard-mahasiswa .rectangle-2 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 389px;
  height: 325px;
  background-color: #f9f9f9;
  border-radius: 15px;
}

.dashboard-mahasiswa .text-wrapper-5 {
  position: absolute;
  top: 64px;
  left: 129px;
  width: 125px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #444444;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-6 {
  position: absolute;
  top: 52px;
  left: 129px;
  width: 125px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .group {
  position: absolute;
  top: 107px;
  left: 23px;
  width: 367px;
  height: 167px;
}

.dashboard-mahasiswa .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-8 {
  top: 69px;
  position: absolute;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-9 {
  top: 35px;
  position: absolute;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-10 {
  top: 104px;
  position: absolute;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-11 {
  top: 19px;
  position: absolute;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-12 {
  top: 87px;
  position: absolute;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-13 {
  top: 53px;
  position: absolute;
  left: 0;
  width: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #848484;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .vector {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .img {
  position: absolute;
  top: 29px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .vector-2 {
  position: absolute;
  top: 45px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .vector-3 {
  position: absolute;
  top: 64px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .vector-4 {
  position: absolute;
  top: 80px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .vector-5 {
  position: absolute;
  top: 98px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .vector-6 {
  position: absolute;
  top: 114px;
  left: 14px;
  width: 325px;
  height: 2px;
  object-fit: cover;
}

.dashboard-mahasiswa .ellipse-4 {
  position: absolute;
  top: 134px;
  left: 165px;
  width: 32px;
  height: 33px;
  background-color: #767676;
  border-radius: 16px / 16.26px;
}

.dashboard-mahasiswa .text-wrapper-14 {
  position: absolute;
  top: 144px;
  left: 164px;
  width: 35px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #f6ba00;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-15 {
  left: 244px;
  position: absolute;
  top: 144px;
  width: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-16 {
  left: 84px;
  position: absolute;
  top: 144px;
  width: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-17 {
  left: 44px;
  position: absolute;
  top: 144px;
  width: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-18 {
  left: 204px;
  position: absolute;
  top: 144px;
  width: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-19 {
  left: 284px;
  position: absolute;
  top: 144px;
  width: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-20 {
  left: 124px;
  position: absolute;
  top: 144px;
  width: 35px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .vector-7 {
  position: absolute;
  top: 1px;
  left: 12px;
  width: 1px;
  height: 117px;
}

.dashboard-mahasiswa .rectangle-3 {
  position: absolute;
  top: 19px;
  left: 171px;
  width: 22px;
  height: 96px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(246, 186, 0, 1) 0%,
    rgba(255, 220, 110, 1) 100%
  );
}

.dashboard-mahasiswa .rectangle-4 {
  position: absolute;
  top: 33px;
  left: 211px;
  width: 22px;
  height: 82px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(88, 186, 171, 1) 0%,
    rgba(142, 217, 206, 1) 100%
  );
}

.dashboard-mahasiswa .rectangle-5 {
  position: absolute;
  top: 77px;
  left: 51px;
  width: 22px;
  height: 38px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(88, 186, 171, 1) 0%,
    rgba(142, 217, 206, 1) 100%
  );
}

.dashboard-mahasiswa .rectangle-6 {
  position: absolute;
  top: 46px;
  left: 251px;
  width: 22px;
  height: 68px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(88, 186, 171, 1) 0%,
    rgba(142, 217, 206, 1) 100%
  );
}

.dashboard-mahasiswa .rectangle-7 {
  position: absolute;
  top: 43px;
  left: 91px;
  width: 22px;
  height: 71px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(88, 186, 171, 1) 0%,
    rgba(142, 217, 206, 1) 100%
  );
}

.dashboard-mahasiswa .rectangle-8 {
  position: absolute;
  top: 87px;
  left: 291px;
  width: 22px;
  height: 26px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(88, 186, 171, 1) 0%,
    rgba(142, 217, 206, 1) 100%
  );
}

.dashboard-mahasiswa .rectangle-9 {
  position: absolute;
  top: 53px;
  left: 131px;
  width: 22px;
  height: 61px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(88, 186, 171, 1) 0%,
    rgba(142, 217, 206, 1) 100%
  );
}

.dashboard-mahasiswa .group-2 {
  position: absolute;
  top: 298px;
  left: 238px;
  width: 143px;
  height: 62px;
}

.dashboard-mahasiswa .group-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 141px;
  height: 62px;
  box-shadow: 0px 0px 1.9px #0000001c;
}

.dashboard-mahasiswa .rectangle-10 {
  position: absolute;
  top: -2px;
  left: -5px;
  width: 147px;
  height: 69px;
}

.dashboard-mahasiswa .rectangle-11 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 138px;
  height: 59px;
}

.dashboard-mahasiswa .text-wrapper-21 {
  position: absolute;
  top: 21px;
  left: 17px;
  width: 75px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .vector-8 {
  position: absolute;
  width: 9.79%;
  height: 19.21%;
  top: 40.01%;
  left: 69.93%;
}

.dashboard-mahasiswa .text-wrapper-22 {
  position: absolute;
  top: 0;
  left: 6px;
  width: 255px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .current-users {
  position: absolute;
  top: 616px;
  left: 441px;
  width: 249px;
  height: 368px;
}

.dashboard-mahasiswa .rectangle-12 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 247px;
  height: 324px;
  background-color: #f9f9f9;
  border-radius: 15px;
}

.dashboard-mahasiswa .mask-group-2 {
  top: 44px;
  width: 247px;
  height: 324px;
  position: absolute;
  left: 0;
}

.dashboard-mahasiswa .rectangle-13 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 247px;
  height: 324px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 8px #0000000f;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.13) 100%
  );
}

.dashboard-mahasiswa .rectangle-14 {
  position: absolute;
  top: 56px;
  left: 233px;
  width: 8px;
  height: 79px;
  background-color: #d9d9d9;
  border-radius: 15px;
  opacity: 0.45;
}

.dashboard-mahasiswa .text-wrapper-23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 213px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .group-4 {
  position: absolute;
  top: 299px;
  left: 96px;
  width: 143px;
  height: 62px;
}

.dashboard-mahasiswa .text-wrapper-24 {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 75px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .vector-9 {
  position: absolute;
  width: 9.79%;
  height: 19.21%;
  top: 41.61%;
  left: 72.03%;
}

.dashboard-mahasiswa .current-activities {
  position: absolute;
  top: 1018px;
  left: 27px;
  width: 667px;
  height: 496px;
}

.dashboard-mahasiswa .rectangle-15 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 661px;
  height: 415px;
  background-color: #f9f9f9;
  border-radius: 30px;
}

.dashboard-mahasiswa .mask-group-3 {
  top: 81px;
  width: 661px;
  height: 415px;
  position: absolute;
  left: 0;
}

.dashboard-mahasiswa .rectangle-16 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 661px;
  height: 415px;
  background-color: #d9d9d903;
  border-radius: 30px;
  box-shadow: inset 0px 0px 8px #0000000f;
}

.dashboard-mahasiswa .rounded-rectangle {
  position: absolute;
  top: 323px;
  left: 154px;
  width: 83px;
  height: 23px;
  background-color: #eaeaea;
  border-radius: 4px;
}

.dashboard-mahasiswa .text-wrapper-25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 389px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-26 {
  position: absolute;
  top: 321px;
  left: 144px;
  width: 98px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #58baab;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-27 {
  position: absolute;
  top: 468px;
  left: 139px;
  width: 98px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #58baab;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .accessibility-icon {
  position: absolute;
  top: 1689px;
  left: 50px;
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
}

.dashboard-mahasiswa .group-5 {
  position: absolute;
  top: 1579px;
  left: 517px;
  width: 157px;
  height: 67px;
}

.dashboard-mahasiswa .rectangle-17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 67px;
  background-color: #58baab;
  border-radius: 9px;
}

.dashboard-mahasiswa .text-wrapper-28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .navbar {
  position: absolute;
  top: 1px;
  left: 0;
  width: 720px;
  height: 121px;
}

.dashboard-mahasiswa .navbar-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
}

.dashboard-mahasiswa .group-6 {
  position: absolute;
  width: 4.86%;
  height: 33.06%;
  top: 32.23%;
  left: 80.00%;
  display: flex;
}

.dashboard-mahasiswa .vector-10 {
  flex: 1;
  width: 35px;
}

.dashboard-mahasiswa .group-7 {
  position: absolute;
  width: 5.56%;
  top: calc(50.00% - 14px);
  left: 89.44%;
  height: 27px;
  aspect-ratio: 1.48;
  background-image: url(./img/vector-4.svg);
  background-size: 100% 100%;
}

.dashboard-mahasiswa .INCARE {
  position: absolute;
  top: 27px;
  left: 52px;
  width: 277px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-mahasiswa .text-wrapper-29 {
  color: #58baab;
}

.dashboard-mahasiswa .text-wrapper-30 {
  color: #818181;
}
