.detail-activities {
  background-color: #ffffff;
  width: 100%;
  min-width: 720px;
  min-height: 1280px;
  position: relative;
}

.detail-activities .group {
  position: absolute;
  top: 1175px;
  left: 533px;
  width: 157px;
  height: 67px;
}

.detail-activities .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 67px;
  background-color: #58baab;
  border-radius: 9px;
}

.detail-activities .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .div {
  position: absolute;
  top: 141px;
  left: 30px;
  width: 581px;
  height: 171px;
}

.detail-activities .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 183px;
  height: 171px;
  background-color: #58baab;
  border-radius: 20px;
  box-shadow: inset 0px 0px 4px #0000000d;
}

.detail-activities .text-wrapper-2 {
  position: absolute;
  top: 18px;
  left: 12px;
  width: 158px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 201px;
  width: 372px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #444444;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .text-wrapper-4 {
  position: absolute;
  top: 87px;
  left: 201px;
  width: 369px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-2 {
  position: absolute;
  top: 47px;
  left: 229px;
  width: 183px;
  height: 40px;
}

.detail-activities .rectangle-3 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 181px;
  height: 29px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.detail-activities .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-3 {
  position: absolute;
  top: 52px;
  left: 319px;
  width: 93px;
  height: 29px;
}

.detail-activities .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 91px;
  height: 29px;
  background-color: #58baab;
  border-radius: 8px;
}

.detail-activities .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 91px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .rectangle-5 {
  position: absolute;
  top: 124px;
  left: 199px;
  width: 178px;
  height: 47px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.detail-activities .text-wrapper-7 {
  top: 124px;
  left: 199px;
  width: 178px;
  height: 47px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #58baab;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .vector {
  position: absolute;
  width: 3.27%;
  height: 14.04%;
  top: 32.16%;
  left: 34.77%;
}

.detail-activities .group-4 {
  position: absolute;
  top: 360px;
  left: 32px;
  width: 663px;
  height: 365px;
}

.detail-activities .rectangle-6 {
  position: absolute;
  top: 42px;
  left: 0;
  width: 659px;
  height: 323px;
  background-color: #f9f9f9;
  border-radius: 30px;
}

.detail-activities .mask-group {
  position: absolute;
  top: 74px;
  left: 36px;
  width: 94px;
  height: 92px;
}

.detail-activities .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .text-wrapper-9 {
  position: absolute;
  top: 67px;
  left: 150px;
  width: 312px;
  height: 33px;
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-5 {
  position: absolute;
  top: 70px;
  left: 313px;
  width: 110px;
  height: 30px;
  box-shadow: 0px 0px 2px #00000024;
}

.detail-activities .rectangle-7 {
  position: absolute;
  top: 0;
  left: 13px;
  width: 82px;
  height: 30px;
  background-color: #F6BA00;
  border-radius: 4px;
}


.detail-activities .text-wrapper-10 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 108px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-6 {
  position: absolute;
  top: 754px;
  left: 32px;
  width: 661px;
  height: 398px;
}

.detail-activities .rectangle-8 {
  position: absolute;
  top: 46px;
  left: 0;
  width: 659px;
  height: 352px;
  background-color: #f9f9f9;
  border-radius: 30px;
}

.detail-activities .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .star-rating {
  position: absolute;
  width: 227px;
  height: 37px;
  top: 108px;
  left: 47px;
  display: flex;
  gap: 10px;
  font-size: 30px;
  cursor: pointer;
}

.detail-activities .star {
  color: #818181; /* Gray color for empty stars */
  transition: color 0.2s;
}

.detail-activities .star:hover {
  color: #f6ba00; /* Yellow color on hover */
}

.detail-activities .star.selected {
  color: #f6ba00; /* Yellow color for selected stars */
}

.detail-activities .group-7 {
  position: absolute;
  top: 465px;
  left: 199px;
  width: 191px;
  height: 20px;
  display: flex;
  gap: 14px;
}

.detail-activities .ellipse {
  margin-top: 7px;
  width: 5px;
  height: 5px;
  background-color: #818181;
  border-radius: 2.5px;
}

.detail-activities .text-wrapper-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-8 {
  position: absolute;
  top: 487px;
  left: 199px;
  width: 191px;
  height: 17px;
  display: flex;
  gap: 14px;
}

.detail-activities .ellipse-2 {
  margin-top: 5px;
  width: 5px;
  height: 5px;
  background-color: #818181;
  border-radius: 2.5px;
}

.detail-activities .text-wrapper-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 17px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-9 {
  position: absolute;
  top: 555px;
  left: 61px;
  width: 324px;
  height: 26px;
  box-shadow: 0px 0px 1.1px #0000005e;
}

.detail-activities .rectangle-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 26px;
  background-color: #e8e8e8;
  border-radius: 5px;
}

.detail-activities .rectangle-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 5px;
}

.detail-activities .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 124px;
  width: 196px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #444444;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-10 {
  position: absolute;
  top: 621px;
  left: 61px;
  width: 324px;
  height: 26px;
  box-shadow: 0px 0px 1.1px #0000005e;
}

.detail-activities .group-11 {
  position: absolute;
  top: 588px;
  left: 61px;
  width: 324px;
  height: 26px;
  box-shadow: 0px 0px 1.1px #0000005e;
}

.detail-activities .group-12 {
  position: absolute;
  top: 654px;
  left: 61px;
  width: 324px;
  height: 26px;
  box-shadow: 0px 0px 1.1px #0000005e;
}

.detail-activities .group-13 {
  position: absolute;
  top: 483px;
  left: 435px;
  width: 227px;
  height: 197px;
}

.detail-activities .rectangle-11 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 225px;
  height: 169px;
  background-color: #e8e8e8;
  border-radius: 16px;
}

.detail-activities .text-wrapper-16 {
  position: absolute;
  top: 0;
  left: 86px;
  width: 123px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .group-14 {
  position: absolute;
  top: 41px;
  left: 12px;
  width: 203px;
  height: 35px;
}

.detail-activities .rectangle-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 201px;
  height: 35px;
  background-color: #f3d372;
  border-radius: 6px;
}

.detail-activities .p {
  position: absolute;
  top: 0;
  left: 9px;
  width: 192px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #58baab;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .span {
  font-weight: 600;
}

.detail-activities .text-wrapper-17 {
  font-family: "Poppins-Regular", Helvetica;
}

.detail-activities .group-15 {
  position: absolute;
  top: 81px;
  left: 12px;
  width: 203px;
  height: 35px;
}

.detail-activities .text-wrapper-18 {
  position: absolute;
  top: 821px;
  left: 73px;
  width: 285px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .text-wrapper-19 {
  position: absolute;
  top: 917px;
  left: 73px;
  width: 353px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .rectangle-13 {
  position: absolute;
  top: 956px;
  left: 76px;
  width: 559px;
  height: 166px;
  background-color: #ebebeb;
  border-radius: 15px;
  box-shadow: inset 0px 0px 4px #0000001a;
}

.detail-activities .text-wrapper-20 {
  position: absolute;
  top: 976px;
  left: 96px;
  width: 519px;
  height: 126px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
}

.detail-activities .rectangle-14 {
  position: absolute;
  top: 861px;
  left: 334px;
  width: 82px;
  height: 38px;
  background-color: #ececec;
  border-radius: 8px;
  box-shadow: inset 0px 0px 3px #0000001a;
}

.detail-activities .text-wrapper-21 {
  top: 861px;
  left: 334px;
  width: 82px;
  height: 38px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #f6ba00;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .accessibility-icon {
  position: absolute;
  top: 1169px;
  left: 32px;
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
}

.detail-activities .group-16 {
  position: absolute;
  top: 1175px;
  left: 533px;
  width: 157px;
  height: 67px;
}

.detail-activities .navbar {
  position: relative;
  top: -4px;
  left: 0;
  width: 100%;
  height: 121px;
}

.detail-activities .navbar-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
}

.detail-activities .group-17 {
  position: absolute;
  width: 4.86%;
  height: 33.06%;
  top: 32.23%;
  left: 561px;
  display: flex;
  gap: 30px;
}

.detail-activities .vector-2 {
  width: 35px;
}

.detail-activities .group-18 {
  position: absolute;
  width: 40px;
  top: calc(50.00% - 14px);
  left: 626px;
  height: 27px;
  aspect-ratio: 1.48;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.detail-activities .INCARE {
  position: absolute;
  top: 27px;
  left: 52px;
  width: 277px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.detail-activities .text-wrapper-22 {
  color: #58baab;
}

.detail-activities .text-wrapper-23 {
  color: #818181;
}

.navbar .extmenu {
  width: 35px;
  height: 35px;
}

/* Modal styles */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #58baab;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ok-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #58baab;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#ok-button:hover {
  background-color: #4a9a8f;
}
